# Importamos librerías y cargamos DataFrames

In [1]:
import pandas as pd
import os
import regex as re
import time

import plotly
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style="whitegrid")

In [6]:

path_import = "data/"

W_CP_df = pd.read_csv(f"{path_import}W_CP_df.csv" ,index_col=0)
W_B_df  = pd.read_csv(f"{path_import}W_B_df.csv"  ,index_col=0)
M_CP_df = pd.read_csv(f"{path_import}M_CP_df.csv" ,index_col=0)
M_B_df  = pd.read_csv(f"{path_import}M_B_df.csv"  ,index_col=0)
H_CP_df = pd.read_csv(f"{path_import}H_CP_df.csv" ,index_col=0)
H_B_df  = pd.read_csv(f"{path_import}H_B_df.csv"  ,index_col=0)

# Analizamos los tiempos por semanas:

In [11]:
W_B_df

        origin  destiny  dow  mean_time_s  std_time_s
0          125       87    2          799         600
1           85       39    2         1350         471
2          127       96    2          470         322
3          128       86    2          706         337
4           36       67    1         1283         340
...        ...      ...  ...          ...         ...
105467      35      115    7         1243         526
105468      34      125    7          930         330
105469      92      103    3          564         253
105470      36      105    7          601         204
105471      90      123    3          428         257

[105472 rows x 5 columns]

# Analizamos los tiempos por horas:

# Analizamos los tiempos mensualmente: